@model List<Product>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-light">
				Product List
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-body text-success fw-bold">
				<i class="bi bi-journal-plus"></i> Create New Product
			</a>
		</div>
	</div>
</div>
<hr />
<table id="tblData" class="table table-hover table-secondary" style="width:100%">
	<thead class="table">
		<tr>
			<th class="text-warning">Product Title</th>
			<th class="text-warning">Producer</th>
			<th class="text-warning">Description</th>
			<th class="text-warning">Price</th>
			<th class="text-warning">Category</th>
			<th></th>
		</tr>
	</thead>
</table>

@section Scripts {
	<script src="~/js/product.js"></script>
}