@model Category

<form method="post">
	<input asp-for="CategoryId" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<div class="col-6">
				<h2 class="text-primary">
					Edit Category
				</h2>
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Category" asp-action="Index" class="btn text-danger">
					<i class="bi bi-x-circle"></i> Back to List
				</a>
			</div>
			<hr />
		</div>
		<div class="mb-3 row">
			<label asp-for="Name" class="text-warning mb-1 p-0"></label>
			<input asp-for="Name" type="text" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row">
			<label asp-for="DisplayOrder" class="text-warning mb-1 p-0"></label>
			<input asp-for="DisplayOrder" type="text" class="form-control" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>

		</div>
		<button type="submit" class="btn btn-lg text-success p-0 m-0">
			<i class="bi bi-pencil pe-1"></i> Update category
		</button>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}